################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API-Users-RIKA-WIN23/FileContentIndex/e45f6201-8fb0-470f-a852-64b2a0841926.vsidx
/.vs/API-Users-RIKA-WIN23
